.navLink {
  display: flex;
  flex-direction: row;
  //   justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &:hover {
    background-color: var(--footer-background-rgb);
    border-radius: 4rem 0 0 4rem;
  }

  &-active {
    color: var(--background-end-rgb);
    &__border {
      border-right: 0.2rem solid var(--background-end-rgb);
    }
  }

  &__img {
    height: 1.5rem;
    width: 1.5rem;

    &__bg {
      background: linear-gradient(
        to bottom,
        var(--background-start-rgb),
        var(--background-end-rgb)
      );
      border-radius: 1rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.5rem;
    }
  }
}
