.btn {
  background-color: var(--component-background);
  color: var(--component-foreground);
  border: 0.125rem solid var(--component-background);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--component-foreground);
    color: var(--component-background);
  }
}
