.btn {
  background-color: var(--btn-background-rgb);
  color: var(--btn-foreground-rgb);
  border: 0.125rem solid var(--btn-background-rgb);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;

  // &:hover {
  //   background-color: transparent;
  //   color: var(--btn-background-rgb);
  // }
}
