.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-bg);
  color: var(--text-dark);
  border: 0.125rem solid var(--border-dark);
}
